body{
    color: #1a2730;
    font-family: 'Roboto', sans-serif;
}

main{
	background-color: white
}

#nuestros-trabajos{
	background-color: white
}

#nuestros-proyectos{
	background-color: white
}

#encabezado{
    background-image: url(https://i.imgur.com/TjceBe6.jpg);
}

.titulos-secciones{
    color: #626161;
}

.titulo{
    font-weight: 900;
}

.nombres{
    color: #626161;

}

.texto-principal{
}

.form{
	background-image: url(https://i.imgur.com/8WYIKTr.jpg);
}

footer{
	background-color: #182430;
	color: white;
}
